<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>聊天机器人</title>
    <link rel="icon" type="image/x-icon" href="{{ static_url("favicon.ico") }}" mce_href="{{ static_url("favicon.ico") }}"/>
</head>
<body>
<div id="contents" style="height:500px;overflow:auto;"></div>
<div>
    <textarea id="msg"></textarea>
    <a href="javascript:;" onclick="sendMsg()">发送</a>
</div>

<!-- jQuery -->
<script src="{{ static_url("jquery-3.3.1.min.js") }}"></script>
<script type="text/javascript">
    var ws = new WebSocket(`ws://127.0.0.1:{{port}}/chat`);
    ws.onmessage = function (e) {
        $("#contents").append("<p>" + e.data + "</p>");
    };

    function sendMsg() {
        var msg = $("#msg").val();
        var mydate = new Date();
        reqMsg='['+mydate.getHours()+':'+mydate.getMinutes()+':'+mydate.getSeconds()+']'+' '+msg;
        $("#contents").append("<p>" + reqMsg + "</p>");
        ws.send(msg);
        $("#msg").val("");
    }
</script>
</body>
</html>


